body{
    font-family: 'Montserrat', sans-serif; 
}

.img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.artist-name{
    text-align: center;
    padding-top: 15px;
    width: 200px;
}

.letter-section{
    text-align: left;
}

.letter{
    font-weight: bold;
}

.letter, .artist-name{
    color: #fff;
    padding-bottom: 15px; 
}

.link{
    height: 250px;
    width: 200px;
    font-style: none;
    text-decoration: none;
    text-align: center;
}

.img:hover, .artist-name:hover{
    box-shadow: rgba(179, 176, 176, 0.5);
    transform: scale(1.1);
}

.cover{
    width: 83%;
    height: 45%;
    left: 215px;
    right: 10px;
    position: fixed;
}

.cover-image{
    width: 1200px;
    object-fit: cover;
    object-position: 50% 20%;
    max-width: 100%;
    max-height: 100%;
    opacity: 0.5;
}

.profile-picture{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: #fff;
    border-width: 5px;
    box-shadow: rgba(179, 176, 176, 0.5) inset;
    z-index: 1;
    position: relative;
    left: 40px;
    top: -100px;
    object-fit: fill;
}

.profile-picture:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.title{
    padding-left: 45px;
    color: #fff;
    position: relative;
    left: 180px;
    top: -220px;
    z-index: 1;
    font-weight: bold;
    font-size: 4rem;
}