body{
    font-family: 'Montserrat', sans-serif; 
}

.img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.artist-name{
    text-align: center;
    padding-top: 15px;
    width: 200px;
}

.letter-section{
    text-align: left;
}

.letter{
    font-weight: bold;
}

.letter, .artist-name{
    color: #fff;
    padding-bottom: 15px; 
}

.link{
    height: 250px;
    width: 200px;
    font-style: none;
    text-decoration: none;
    text-align: center;
}

.img:hover, .artist-name:hover{
    box-shadow: rgba(179, 176, 176, 0.5);
    transform: scale(1.1);
}

.artist-header{
    /*background: url("../assets/artist-art/A.R.Rahman.jpeg");*/
    display: flex;
    height: 400px;
    align-items: flex-end;
    justify-content: space-between;
    background-position: start;
    padding-bottom: 20px;
    object-fit: cover;
    object-position: 60% 20%;
    background-size: cover;
}

.cover-image{
    position: relative;
    width: 1200px;
    object-fit: cover;
    object-position: 50% 20%;
    max-width: 100%;
    max-height: 100%;
    opacity: 0.5;
}

.content{
    margin-top: -150px;
    margin-left: 50px;
    z-index: 1;
}

.profile-picture{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: #fff;
    border-width: 5px;
    box-shadow: rgba(179, 176, 176, 0.5) inset;
    position: relative;
    object-fit: cover;
}

.profile-picture:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.title{
    padding-left: 45px;
    color: #fff;
    position: relative;
    font-weight: bold;
    text-shadow: 2px 2px #453e3e;
}

.subtitle{
    color: rgba(255, 255, 255, 0.869);
    padding-left: 45px;
    position: relative;
    text-shadow: 2px 2px #453e3e;
}

.bio{
    position: relative;
    z-index: 0;
    color: #fff;
    text-align: justify;
    position: sticky;
    padding-top: 60px;
    min-width: none;
    max-width: 100%;
    margin-right: 5%;
    left: 10px;
}
@media (max-width: 992px) {
    .mobile-hide {
        display: none;
    }
}